* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    color: #222;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100dvw;
    max-width: 100dvw;
    min-height: 100vh;
    background: #666;
    padding: 5px;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited, a:hover, a:focus {
    color: blueviolet;
}

#root {
    width: 100%;
    background: white;
    border-radius: 10px;
    border: 2px solid blueviolet;
    padding: 10px;
    height: calc(100dvh - 10px);
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icon {
    color: blueviolet;
    width: 15px;
    height: 15px;
}

input {
    caret-color: blueviolet;
}

input:focus {
    outline: none;
}

.youtube, .youtube:visited {
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    text-decoration: none;
    width: fit-content;
    outline: none;
}

.youtube:hover {
    color: darkred;
}
